DataExternalization.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.i-docs.com/DataExternalization/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataExternalization" targetNamespace="http://www.i-docs.com/DataExternalization/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.i-docs.com/DataExternalization/">
      <xsd:element name="getCustomerVariables">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="customerName" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCustomerVariablesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCustomerVariablesFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="getCustomerVariablesFault"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCustomerVariablesRequest">
    <wsdl:part element="tns:getCustomerVariables" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCustomerVariablesResponse">
    <wsdl:part element="tns:getCustomerVariablesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCustomerVariablesFault">
  	<wsdl:part name="parameters" element="tns:getCustomerVariablesFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DataExternalization">
    <wsdl:operation name="getCustomerVariables">
      <wsdl:input message="tns:getCustomerVariablesRequest"/>
      <wsdl:output message="tns:getCustomerVariablesResponse"/>
            <wsdl:fault name="fault" message="tns:getCustomerVariablesFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataExternalizationSOAP" type="tns:DataExternalization">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCustomerVariables">
      <soap:operation soapAction="http://www.i-docs.com/DataExternalization/getCustomerVariables"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataExternalization">
    <wsdl:port binding="tns:DataExternalizationSOAP" name="DataExternalizationSOAP">
      <soap:address location="http://127.0.0.1:8888/intws/dataExternalization"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
